* {
    margin: 0;
    padding: 0;
}


 .bg_img {
  background-image: url('../assets/images/space.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  }

  .venusFlybytext{
    font-family:  'Comfortaa', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    font-size: 45px;
    font-weight: 500;
    margin-left: 1000px;
    margin-top: -200px;
    transition: color 0.15s ;
  }
  .date{
    font-family: 'Comfortaa', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    font-size: 45px;
    font-weight: 500;
    margin-left: 1000px;
  }