.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__image {
  z-index: -1;
}

.title {
  font-size: 4rem;
  color: var(--color-white);
}

.title__two,
.title__three {
  font-size: 6rem;
  color: var(--color-white);
}

.subtitle {
  font-size: 1.5rem;
  color: var(--color-white);
}

.begin__btn {
  color: var(--color-white);
  background: none;
  border: none;
}

.begin__btn__text {
  position: relative;
  top: 95px;
  left: 6px;
  font-weight: 700;
  font-size: 1.5rem;
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}
.cir {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}

.begin__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #333;
  text-align: center;
  z-index: 10;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 1px 5px 2px #bfceef;
}
.begin__btn:active,
.begin__btn:hover,
.begin__btn:focus {
  outline: none !important;
  color: white;
}
.btn-particles {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  color: #eee;
  font-family: monospace;
  z-index: 5;
}
.begin__btn:active {
  transform: scale(0.9) translate(-55%, -55%);
}
